html {
	font-size: 10px;
	-webkit-tap-highlight-color: transparent;
}

body {
	line-height: 1.75;
	font-size: 2em;
}

body,
input,
textarea {
	font-family: 'Vollkorn', Georgia, serif;
	letter-spacing: 0.01rem;
	color: #3A4145;
	text-rendering: geometricPrecision;
}

label,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Quattrocento', Georgia, serif;
	font-weight: 400;
	text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	letter-spacing: 0.18em;
	line-height: 1.2;

	&:not(:first-child) {
		margin-top: 2.2em;
	}
}

h1 {
	font-size: 8rem;
}

h2 {
	font-size: 3.6rem;
}

h3 {
	font-size: 2.7rem;
}

h4 {
	font-size: 2.3rem;
}

h5 {
	font-size: 2rem;
}

h6 {
	font-size: 2rem;
}

a {
	color: #4489b1;
	transition: color 0.2s ease;
	text-decoration: none;
}

a:hover {
	color: #73a9c9;
}
//
// p,
// ul {
// 	margin: 0 0 1.75em 0;
// 	text-rendering: geometricPrecision;
// }
//
// ul {
// 	padding-left: 3rem;
// }
//
// ul ul {
// 	margin: 0 0 0.4em 0;
// 	padding-left: 2em;
// }
//
// li {
// 	margin: 0.4em 0;
// }
//
// li li {
// 	margin: 0;
// }
//
// @media only screen and (max-width: 900px) {
// 	ul {
// 		padding-left: 2em;
// 	}
//
// 	h1 {
// 		font-size: 4.5rem;
// 	}
//
// 	h2 {
// 		font-size: 3.6rem;
// 	}
//
// 	h3 {
// 		font-size: 3.1rem;
// 	}
//
// 	h4 {
// 		font-size: 2.5rem;
// 	}
//
// 	h5 {
// 		font-size: 2.2rem;
// 	}
//
// 	h6 {
// 		font-size: 1.8rem;
// 	}
// }
//
// @media only screen and (max-width: 500px) {
// 	p,
// 	ul {
// 		font-size: 0.95em;
// 		margin: 0 0 2.5rem 0;
// 	}
//
// 	h1,
// 	h2,
// 	h3,
// 	h4,
// 	h5,
// 	h6 {
// 		margin: 0 0 0.3em 0;
// 	}
//
// 	h1 {
// 		font-size: 2.8rem;
// 	}
//
// 	h2 {
// 		font-size: 2.4rem;
// 	}
//
// 	h3 {
// 		font-size: 2.1rem;
// 	}
//
// 	h4 {
// 		font-size: 1.9rem;
// 	}
//
// 	h5 {
// 		font-size: 1.8rem;
// 	}
//
// 	h6 {
// 		font-size: 1.8rem;
// 	}
// }
